.card-image{
    width: 64px;
    transition: all .2s ease-in-out;
}
.card-image:hover{
    transform: scale(1.1);
}
.card-plan-style{
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.card-plan-style:hover{
    transform: scale(1.1);
}